<div fxLayout="column">
    <!-- <quill-editor></quill-editor> -->
    <form [formGroup]="newEntryForm" (ngSubmit)="onSubmit()" fxLayout="column">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <textarea matInput formControlName="title" placeholder="title"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>URL</mat-label>
            <textarea matInput formControlName="url" placeholder="url"></textarea>
        </mat-form-field>

        <quill-editor formControlName="description"></quill-editor>

        <button mat-stroked-button>Submit</button>
    </form>


</div>