<mat-accordion multi="true" >

    <mat-expansion-panel [expanded]="true" *ngFor="let item of items | async">
        <mat-expansion-panel-header>
            <!-- title -->
            {{item.heading}}
        </mat-expansion-panel-header>
        <mat-nav-list dense>
            <a mat-list-item routerLink={{item.subheadings[0].url}}>{{item.subheadings[0].title}}</a>
            <a mat-list-item href="..."> link</a>
            <a mat-list-item href="..."> link</a>
            <a mat-list-item href="..."> link</a>
            <a mat-list-item routerLink={{item.subheadings[0].url}}>{{item.subheadings[0].title}}</a>
        </mat-nav-list>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            expansion 2 title
        </mat-expansion-panel-header>
        <mat-nav-list dense>
            <a mat-list-item href="..."> link 1 </a>
        </mat-nav-list>

    </mat-expansion-panel>

</mat-accordion>

<!-- <mat-card *ngFor="let tutorial of tutorials">
    <mat-card-header>{{tutorial.title}}</mat-card-header>
    <mat-card-subtitle>{{tutorial.url}}</mat-card-subtitle>

    <mat-card>
        <mat-card-content [innerHTML]="tutorial.description"></mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button [routerLink]="['/tutorials', tutorial.url]">View</button>
        </mat-card-actions>
    </mat-card>
    
</mat-card> -->