<section>
    <div *ngIf="afAuth.authState | async as user">
        <div fxLayout="column" fxLayoutGap="20px" class="user-home-card">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Title</mat-card-title>
                    <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Paragraph</p>
                    <button mat-stroked-button (click)="afAuth.auth.signOut()">Logout</button>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <mat-card-title>Title</mat-card-title>
                    <mat-card-subtitle>Subtitle</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Paragraph</p>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
</section>